@{
    ViewBag.Title = "Siêu thị Bách hóa XANH - Mua bán thực phẩm, sản phẩm gia đình";
    ViewBag.Logo = "../Content/image/favicon.ico";
    ViewBag.Css = "~/Content/homecss";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section heads
{
    @Styles.Render("~/Content/homecss")
}
@Html.Partial("Header")


<section>
    <aside class="colcontent">
        @Html.Partial("SlideBanner")
        @Html.Partial("GroupCategory")
        @Html.Partial("GroupFeatureFresh")
        @Html.Action("GroupFeature")
        @Html.Partial("voucher")
    </aside>
    <div class="clr"></div>ss
</section>
@Html.Partial("footer")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/owl.carousel")
@section scripts{
    <script src="~/Scripts/Home/LoadMore.js"></script>
}

